
/*table {*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*}*/
/*th, td {*/
/*    padding: 8px;*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*table tr:not(:first-child):hover {*/
/*    background-color: #ddd;*/
/*}*/
.user{
    cursor: pointer;
}
.AlertBox {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    border: solid rgba(69, 19, 102, 0.837);
    border-radius: 1px;
    box-shadow: 12px 12px 2px 1px rgba(194, 131, 230, 0.843);
    background: plum;
    color: #000;
}

.AlertPosition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.AlertPosition:target {
    display: block;
}